h3 {
  font-family: 'Josefin Sans', sans-serif;
}

h4 {
  font-family: 'Rock Salt', cursive;
  text-align: center;
  top: 110px;
  left: 40%;
  z-index: 100;
}

h1 {
  color: maroon;
  text-align: center;
  text-shadow: 5px 5px 18px pink;
  font-size: 58px;
  font-family: 'Slackey', cursive;
  z-index: 100;
  position: absolute;
  top: 50px;
  left: 5%;
}

body {
    background-attachment: fixed;
    background-color: pink;
}


a {
  font-size: 12px;
  display: inline-block;
  margin-bottom: 4px;
  width: calc(50% - 4px);
  margin-right: 4px;
}

a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }

  a:nth-of-type(2n) {
    margin-right: 8px;
  }

  a:nth-of-type(4n) {
    margin-right: 0;
  }
}

a:link {
  color: deeppink;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: maroon;
  text-decoration: underline;
}

a:active {
  color: darkcyan;
}
